# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# BioForge outputs
output/
*.log

# Data files (اگه می‌خوای توی Git نباشن)
# data/codon_table.txt
# data/amino_weights.txt